data/sources/.DS_Store
data/sources/seed
data/db_dumps/*
data/versions/*
data/examples
www/downloads/*
vendor/
bulk/csv/*
composer.phar


data/duplicate_names.csv
data/.DS_Store
.DS_Store
data/.DS_Store
data/Bryophytes_NOIDS_Roger.csv
data/Bryophytes_NOIDS_Roger_OUT.csv
data/.DS_Store
