# Rhakhis jobs
12 02 * * * cd /var/wfo-list/rhakhis/api/scripts && php gen_identifier_match_file.php  > /dev/null 2>&1
32 02 * * * cd /var/wfo-list/rhakhis/api/scripts && php gen_name_match_file.php  > /dev/null 2>&1
56 * * * * cd /var/wfo-list/rhakhis/api/scripts && php -d memory_limit=1024M gen_family_dwc_file.php  > /dev/null 2>&1
06 * * * * cd /var/wfo-list/rhakhis/api/scripts && php -d memory_limit=1024M gen_family_html_file.php  > /dev/null 2>&1

# The stats run every day but only process 1000 genera. It will only update rows over 30 days old.
12 22 * * * cd /var/wfo-list/rhakhis/api/scripts && php -d memory_limit=1024M  gen_genus_stats.php

# Stats download files are generated on the first of each month
10 1 1 * * cd /var/wfo-list/rhakhis/api/scripts && php gen_stats_files.php 